site_name: "Juan881-max | Security Writeups"
site_url: https://juan881-max.github.io/mis-writeups/
site_author: Juan881-max
site_description: Repositorio de auditorías de seguridad y resolución de máquinas CTF.

theme:
  name: material
  language: es
  palette:
    # Configuración del modo oscuro
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro
    # Configuración del modo claro (opcional, por si el usuario lo prefiere)
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro
  
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Inicio: index.md
  - DockerLabs:
      - Fácil:
          - Backend: DockerLabs/Facil/Backend/README.md
